DMARC_VIEWER_ALLOWED_HOSTS=127.0.0.1;localhost
DMARC_VIEWER_DB_ENGINE=django.db.backends.mysql
DMARC_VIEWER_DB_HOST=database
DMARC_VIEWER_DB_NAME=dmarc-viewer
DMARC_VIEWER_DB_PASS=NOTASECRET
DMARC_VIEWER_DB_USER=dmarc-viewer
DMARC_VIEWER_IMAP_FOLDER=INBOX
DMARC_VIEWER_IMAP_HOST=mailhost.com
DMARC_VIEWER_IMAP_PASS=NOTASECRET
DMARC_VIEWER_IMAP_REFRESH_INTERVAL=3600
DMARC_VIEWER_IMAP_USER=dmarcreports@mail.com
DMARC_VIEWER_SECRET_KEY=arandomkey
